

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  body{
    
  }

  /*Styling the navigation top bar section*/

  .header{
    position: fixed;
    top: 0px;
    width:100%
    
  }

.tob-bar
{
   
    background-color: rgba(19, 15, 15, 0.1);
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(31, 29, 32, 0.5);
    

}

.topbar-content{
    
  min-height: 70px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
    

}
.nav{


}

.nav-list{

  
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  

  transition: all 0.7s;

}
.nav-item{
  position: relative;
}

.nav-item a {
  display: inline-block; 
  padding: 12px 15px; 
  position: relative; /* For the pseudo-element positioning */
   /*  overflow: hidden; Changed: Ensure the pseudo-element stays within bounds */
  color: black;

  transition: color 0.7s ease;

}

.nav-item{

}


nav ul li 
{
  


}


.nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 100%; 
  /*border-left: 2px solid rgba(0, 189, 195, 0.8); /* Left side border */
  /*border-right: 2px solid rgba(0, 189, 195, 0.8); /* Right side border */
  border-bottom: 2px solid rgba(0, 189, 195, 0.8); /* Bottom border */
  border-radius: 0 0 15px 15px; 
  transform: scaleY(0); 
  transform-origin: bottom; 
  transition: transform 0.7s ease; 
  z-index: -1; 
}

.nav-item a:hover::before {
  bottom: 0;
  transform: scaleY(1); 
  
}
.nav-item a:hover{
  color:  rgba(0, 189, 195, 1)
}


.btnContacts
{
  color: white;
  background-color: #0071e3;
  padding: 8px 10px;
  border-radius: 100px;
}

  
  
  
 