

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  body{
    background: #1a1a1a;
    color: white;
    
  }

  /*Styling the navigation top bar section*/

  .header{
    position: fixed;
    top: 0;
    width:100%;

    display: flex;
    justify-content: center;

    
    
    
  }

.top-bar
{
  background-color: rgba(212, 150, 150, 0.09); 
  /*border-radius: 50px;*/
  box-shadow: 0 0 10px rgba(46, 159, 211, 0.7);
  backdrop-filter: blur(12);

  width: 100%;
  max-width: 1200px;
  margin:0 auto;
}

.topbar-content{
    
  min-height: 70px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
    

}
.Logo{
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-right: 20px;
}
.nav
{
  display: flex;
  flex-grow: 1; 
  justify-content: center; 
  margin: 0 20px;

}

.nav-list{

  
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  

  transition: all 0.7s;

}
.nav-item{
  position: relative;
}

.nav-item a {
  display: inline-block; 
  padding: 12px 15px; 
  position: relative; 
   overflow: hidden;
  color: rgb(241, 237, 237);

  transition: all 0.7s ease;

}

.nav-item{

}


nav ul li 
{
  


}


.nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 100%; 
  /*border-left: 2px solid rgba(0, 189, 195, 0.8); /* Left side border */
  /*border-right: 2px solid rgba(0, 189, 195, 0.8); /* Right side border */
  border-bottom: 2px solid rgba(0, 189, 195, 0.8); /* Bottom border */
  border-radius: 0 0 15px 15px; 
  transform: scaleY(0); 
  transform-origin: bottom; 
  transition: transform 0.5s ease; 
  z-index: -1; 
}

.nav-item a:hover::before {
  bottom: 0;
  transform: scaleY(1); 
  
  
}
.nav-item a:hover{
  color:  rgba(0, 189, 195, 1);
  /* transform: scale(1.3, 1.3); */
}


.btnContacts
{
  color: white;
  
  background-color: #043f7a;
  padding: 8px 10px;
  border-radius: 100px;
  transition: all 0.3s;
}
.btnContacts:hover{

  background-color: #177ee6;
  transform: scale(1.1);
}

  
 

/* Styling the body main section */

main{

  width: 100%;
  height: 100%;
  
  
}

.Profile-Content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 40px; 
  max-width: 1200px;
  margin: 0 auto; 
  padding: 20px;
}

.Profile-Picture {
  flex: 1; 
  display: flex;
  justify-content: flex-start;
}

.Profile-Picture img {
  height: 350px;
  border-radius: 60%;
  border: 2px solid rgba(0, 189, 195, 0.8); 
}

.Bio {
  flex: 2; 
  position: relative;
  padding: 20px;
  border: 2px solid rgba(0, 189, 195, 0.8); 
  border-radius: 45px;
}

/* .Bio-Tittle {
  margin-top: 20px;
  font-size: 1.2em;
  line-height: 1.5;
} */



.Socials {
  margin-top: 30px;
}

.Socials-Links {
  display: flex;
  gap: 30px;
}

.Social-link img {
  height: 40px; 
  width: 40px;
  object-fit: contain;
}


/*Profesion Section and Styling*/





